* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: white;
  background-color: rgb(30, 30, 30);
  font-family: "Glass Antiqua", cursive;
}
.mainHeader {
  /* border: 1px solid red; */
  background-color: rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  border-radius: 25px;
}

.title {
  font-size: 65px;
}
.scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
}

.scoreBoard {
  /* border: 2px solid red; */
  height: 110px;
  width: 1200px;
  border-radius: 20px;
  background-color: rgb(72, 72, 72);
}

.scoreSubHead {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  width: 150px;
  font-size: 12px;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(36, 34, 34);
}
.image {
  height: 450px;
  width: 450px;
  border-radius: 50px;
  object-fit: cover;
  margin-top: 40px;
}

.image:hover {
  cursor: pointer;
}

.data {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.catsDiv {
  /* border: 2px solid pink; */
  background-color: rgb(72, 72, 72);
  margin-right: 350px;
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 700px;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 100px;
}

.catsDiv:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgb(112, 114, 112);
  transition: all 500ms ease;
}

.dogsDiv:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgb(112, 114, 112);
  transition: all 500ms ease;
}

.dogsDiv {
  /* border: 2px solid purple; */
  background-color: rgb(72, 72, 72);
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 700px;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 100px;
}

.cardHeader {
  /* border: 2px solid pink; */
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 40px;
  font-size: 50px;
}

/* .text {
  text-align: center;
}

.button {
  background-color: aqua;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
